.hide {
   display: none;
}

.card{
   height: 20%;
}

.numberBadge{
   height: 50px;
   width: 50px;
}

#winner{
   height: 100px;
}

#alerts{
   height: 150px;
}

.fa-xmark{
   left: 0px;
   top: 25px;
   font-size: 2rem;
   cursor: pointer;
   color: black;
}

.fa-sun{
   cursor: pointer;
   top: 25px;
   right: 0;
}

.fa-moon{
   cursor: pointer;
   top: 25px;
   right: 0;
}

.fa-sun:hover{
   color: #FFC234;
}

.fa-moon:hover{
   color: #FFC234;
}

.darkBg{
   background-color: #1A1D21;
}

