.hide {
   display: none;
}

.card{
   height: 20%;
}

.numberBadge{
   height: 50px;
   width: 50px;
}

#winner{
   height: 100px;
}

#alerts{
   height: 150px;
}

.fa-xmark{
   left: 0px;
   top: 25px;
   font-size: 2rem;
   cursor: pointer;
   color: black;
}